.container {
  font-size: 20px; 
  border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  border: 3px solid #fff;
  background: #292827;
  color: #fff;
}
.table_div, .title_div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
	margin-bottom: 25px;
  margin-right: 25px;
  margin-left: 25px;
}
.lookup_button{
  position: absolute;
  left: 275px;
  top: 137px;
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border-radius: 15px 15px 15px 15px;
  border: 2px solid #fff;
  background: #292827;
  color: #fff;
  padding: 2px;
}
.year_month_day {
    position: absolute;
    left: 25px;
    top: 70px;
    zoom: 1.0;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 2px solid #fff;
    background: #292827;
    color: #fff;
    padding: 6px;
}
.when-check{
  position: absolute;
    left: 278px;
    top: 70px;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    border: 2px solid #fff;
    background: #292827;
    color: #fff;
    zoom: 1.0;
    padding: 3px;
}
.logo{
  float: left;
  height: 20px;
  width: 20px;
  margin-right: 10px;
  -webkit-border-radius: 100px 100px 100px 100px;
}


.download_button {
    position: absolute;
    left: 427px;
    top: 137px;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    border: 2px solid #fff;
    background: #292827;
    color: #fff;
    padding: 1px;
}
.format_sensor{
    position: absolute;
    left: 427px;

    top: 70px;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    border: 2px solid #fff;
    background: #292827;
    color: #fff;
    zoom: 1.00;
    padding: 3px;
}

.select-style{
    order: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa no-repeat 90% 50%;
}
.textbox{
    order: 4px solid #ccc;
    border-radius: 3px;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    overflow: hidden;
    background: #fafafa no-repeat 90% 50%;
}

.graphLine{
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin-top: 50px;
}
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

*, *::before, *::after {
  box-sizing: border-box;
}
.graphDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x:auto;
}


.switch {
  position: absolute;
  top: 68px;
  left: 570px;
  zoom: 1.0
}

.switch input {
  position: absolute;
  left: -9999px;
  display:inline-block
}

.switch label {
  display: block;
  position: relative;
  margin: 5px;
  padding: 4px 20px 4px 20px;
  border: 2px solid #fff;
  border-radius: 100px;
  color: #fff;
  background-color: #292827;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: background-color .2s, box-shadow .2s;
  display:inline-block;

}

.switch label::before {
  content: '';
  display: block;
  position: absolute;

  top: 10px;
  bottom: 10px;
  left: 10px;
  width: 20px;
  border-radius: 100px;
  transition: background-color .2s;
 
}

.switch label:hover, input:focus + label {
  box-shadow: 0 0 10px rgba(0, 0, 0, .6);
}

.switch input:checked + label {
  background-color: #701e1e;
}

  
  
  
  
  .topnav {
    background-color: #2f3136;
    overflow: hidden;
    transition: top 0.3s; 
  }
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: rgb(199, 5, 5);
    color: white;
  }    

.data_intime{
  font-family: "Arial Black";
  color: white;
  font-size: 20px;
  zoom: 0.5;
}

.data_intime input {
  position: absolute;
  left: -9999px;
  display:inline-block;
  text-align: center;
  align-items: center;
}

.data_intime label {
  display: block;
  position: relative;
  margin: 0px;
  padding: 4px 4px 10px 10px;
  border: 1px solid #fff;
  border-radius: 100px;
  color: #fff;
  background-color: #292827;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: background-color .2s, box-shadow .2s;
  display:inline-block
}

.data_intime label::before {
  content: '';
  display: block;
  border-radius: 100px;
}

.data_intime label:hover, input:focus + label {
  box-shadow: 0 0 10px rgba(0, 0, 0, .6);
}
.data_intime input:checked + label {
  background-color: #701e1e;
}

#data0, #data1, #data2{
  top: 149px;
  font-size: 30px;
  font-family: "Arial black";
}
#data3, #data4, #data5{
  top: 753px;
  font-size: 30px;
  font-family: "Arial black";
}

.text{
  position: absolute;
  top: 59px;
  left: 395px;
  font-family: "Lucida Console";
  font-weight: bold;
  color: white;
  font-size: 16px;
}
.div0{
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
	background-color: #2c5279;
}
.dirigente{
  border: 5px solid red;
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  display: inline-block;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.75);
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  flex-shrink: 0;
  width: 750px;
  align-items: center;
}
.torvergata{
  height: 65px;
  width: 350px;
  -webkit-border-radius: 10px;
}